@page "/poliza/{id}"
@inject AgregarPolizaUseCase agregarPoliza
@inject NavigationManager NavigationManager

<h3>Agregar Poliza</h3>

@* Formulario para agregar Poliza *@
<form>
    <div class="form-group">
        <label for="valorAsegurado">Valor Asegurado:</label>
        <input type="text" class="form-control" id="valorAsegurado" @bind="poliza.ValorAsegurado" required>
    </div>
    <div class="form-group">
        <label for="franquicia">Franquicia:</label>
        <input type="text" class="form-control" id="franquicia" @bind="poliza.Franquicia" required>
    </div>
    @* Generar botones para seleccionar el tipo de cobertura *@
    <div class="form-group">
        <label>Tipo de Cobertura:</label>
        <div>
            <input type="radio" name="Cobertura" id="todoriesgo"
            @onchange="(() => UpdateCobertura(Poliza.TipoCobertura.TodoRiesgo))" />
            <label for="todoriesgo">Cobertura contra todo riesgo</label>
        </div>
        <div>
            <input type="radio" name="Cobertura" id="civil"
            @onchange="(() => UpdateCobertura(Poliza.TipoCobertura.ResponsabilidadCivil))" />
            <label for="civil">Cobertura de responsabilidad civil</label>
        </div>
    </div>
    <div class="form-group">
        <label for="inicio">Fecha de inicio de cobertura:</label>
        <input type="date" id="inicio" name="inicio" @bind="poliza.Fecha_inicio" />
    </div>
    <div class="form-group">
        <label for="fin">Fecha de fin de cobertura:</label>
        <input type="date" id="fin" name="fin" @bind="poliza.Fecha_fin" />
    </div>

    <button type="button" class="btn btn-primary" @onclick="CrearPoliza">Crear</button>

</form>

@* Componente para mostrar errores *@
<Excepcion @ref=dialogo />


@code {
    [Parameter]
    public string? Id { get; set; }
    bool exito = false;
    Excepcion dialogo = null!;
    Poliza poliza = new Poliza();

    protected override void OnInitialized()
    {
        if (Id != null) poliza.VehiculoId = int.Parse(Id);

    }

    private void UpdateCobertura(Poliza.TipoCobertura value)
    {
        poliza.Cobertura = value;
    }

    private void CrearPoliza()
    {
        try
        {
            agregarPoliza.Ejecutar(poliza);
            exito = true;
        }
        catch (Exception e)
        {
            Error(e.Message);
        }
        if (exito) Siguiente();
    }

    private void Error(string msj)
    {
        dialogo.Mostrar(msj);
    }
    // El vehiculo se creo con exito y ahora se le agrega la poliza
    private void Siguiente()
    {
        NavigationManager.NavigateTo("/");
    }
}