@page "/vehiculo"
@inject BuscarTitularUseCase buscarTitular
@inject NavigationManager NavigationManager

<h3>Agregar Vehículo a titular</h3>
<form>
    <div class="form-group">
        <label for="titular">DNI del Titular:</label>
        <input type="number" id="titular" @bind="@DNIBuscado" />
    </div>
    <div>
        <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
    </div>
</form>
<Excepcion @ref=dialogo />
<Confirmacion OnConfirmado="Siguiente" @ref=confirmacion />
@code {

    int DNIBuscado;
    int id;
    Excepcion dialogo = null!;
    Confirmacion confirmacion = null!;
    private void Buscar()
    {
        Titular? encontrado = buscarTitular.Ejecutar(DNIBuscado);
        if (encontrado == null) dialogo.Mostrar("El titular buscado no existe");
        else
        {
            id = encontrado.Id;
            confirmacion.Mensaje = $"Agregar vehículo para {encontrado.Apellido}, {encontrado.Nombre}?";
            confirmacion.Mostrar();

        }
    }

    private void Siguiente()
    {
        NavigationManager.NavigateTo($"/vehiculo/{id}");
    }
}
