@* @page "/siniestro"
@inject BuscarVehiculoUseCase buscarVehiculo
@inject BuscarPolizaUseCase buscarPoliza
@inject NavigationManager NavigationManager

<h3>Agregar Siniestro</h3>
<form>
    <div class="form-group">
        <label for="dominio">Dominio del vehiculo involucrado:</label>
        <input type="number" id="dominio" @bind="@dominioBuscado" />
    </div>
    <div>
        <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
    </div>
</form>
<Excepcion @ref=dialogo />

@code {

    int DNIBuscado;
    Excepcion dialogo = null!;
    private void Buscar()
    {
        Vehiculo? encontrado = buscarVehiculo.Ejecutar(dominioBuscado);
        if (encontrado == null) dialogo.Mostrar("El dominio buscado no existe");
        else
        {
            //Generar un cartel para confirmar que se trata del titular correcto!!
            NavigationManager.NavigateTo($"/vehiculo/{encontrado.Id}");
        }
    }
} *@
