@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Bienvenido a <strong>Aseguratron-3000</strong></h1>

En esta aplicacion podras agregar,  editar, eliminar y visualizar Titulares, Vehiculos, Polizas, Siniestros y Terceros!

