@page "/editSiniestro/{idS}"

@inject ModificarSiniestroUseCase modificarSiniestro
@inject NavigationManager NavigationManager
@inject BuscarSiniestroUseCase buscarSiniestro


<h3>Datos de siniestro</h3>

@* Formulario para editar siniestro *@
<form>
    <div class="form-group">
        <label for="direccion">Dirección del accidente:</label>
        <input type="text" class="form-control" id="direccion" @bind="siniestro.Direccion" required>
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción del accidente:</label>
        <input type="text" class="form-control" id="descripcion" @bind="siniestro.Descripcion" required>
    </div>
    <div class="form-group">
        <label for="incidente">Fecha del incidente:</label>
        <input type="date" id="fin" name="fin" @bind="siniestro.Fecha_incidente" />
    </div>
    <div class="form-group">
        <input type="checkbox" id="terceros" @bind="terceros" />
        <label for="terceros"> Hubo terceros involucrados</label>
    </div>

    <div>
        <br />
        <button type="button" class="btn btn-primary" @onclick="EditarSiniestro">Guardar</button>
    </div>
</form>
@* Componente para mostrar errores *@
<Excepcion @ref=dialogo />
@* Componente para pedir confirmacion *@
<Confirmacion OnConfirmado="GuardarSiniestro" @ref=confirmacion />



@code {
    [Parameter]
    public string? idS { get; set; }
    Siniestro siniestro = new Siniestro();
    private bool terceros = false;
    Excepcion dialogo = null!;

    Confirmacion confirmacion = null!;

    protected override void OnInitialized()
    {
        //Id 0 significa que no existe el siniestro buscado
        if (idS != null) siniestro = buscarSiniestro.Ejecutar(int.Parse(idS)) ?? new Siniestro() { Id = 0 };
    }
    private void EditarSiniestro()
    {
        if (terceros)
        {
            //tengo que agregar un tercero
            NavigationManager.NavigateTo($"/tercero/{siniestro.Id}");
        }
        //termine
        else
        {
            confirmacion.Mensaje = $"Desea guardar los cambios?";
            confirmacion.Mostrar();
        }
    }
    private void GuardarSiniestro()
    {
        if (siniestro.Id == 0)
        {
            dialogo.Mostrar("El siniestro que usted intenta modificar no existe");
        }
        else
        {
            modificarSiniestro.Ejecutar(siniestro);
            NavigationManager.NavigateTo($"siniestros");
        }
    }
}
